span {
    color: green;
}

span:hover {
    color: red;
    position: relative;
}

form {
    width: 300px;
    margin: 0 auto;
}

form th {
    background-color: #4CAF50;
    color: white;
}

form button.submit {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

/**
 * Footer Styles
 */

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}
