{% extends "base.html" %}

{% block content %}


{% if messages %}
<div class="span12">
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
        {{ message|safe }}
    </div>
    {% endfor %}
</div>
{% endif %}

<script>

</script>

<h3 align="center">EDIT YOUR PROFILE</h3>

<a href="{% url 'core:log_out' %}">logout</a>

<form method="POST" id="edit_profile" enctype="multipart/form-data" class="form-horizontal">
    {% csrf_token %}
    <div class="form-group">
        <label>
            <strong>Profile picture</strong>
        </label>
        <div class="form-control">
            {{ form.profile_photo }}
        </div>
    </div>
    <div class="form-group">
        <label>
            <strong>Bio: </strong>
        </label>
        <div>
            {{ form.bio }}
        </div>
    </div>
    <div class="form-group">
        <label>
            <strong>Gender: </strong>
        </label>
        <div class="form-control">
            {{ form.gender }}
        </div>
    </div>
    <div class="form-group">
        <label>
            <strong>Date of birth:</strong>
        </label>
        <div class="form-control">
            {{ form.date_of_birth }}
        </div>
    </div>
    <div class="form-group">
        <label>
            <strong>Mobile number:</strong>
        </label>
        <div class="form-control">
           {{ form.mobile_number }}
        </div>
    </div>
    <div class="form-group">
        <label>
            <strong>Address:</strong>
        </label>
        <div class="form-control">
            {{ form.address }}
        </div>
    </div>
    <div class="form-group">
        <label>
            <strong>City:</strong>
        </label>
        <div class="form-control">
            {{ form.city }}
        </div>
    </div>
    <div class="form-group">
        <label>
            <strong>Country:</strong>
        </label>
        <div class="form-control">
            {{ form.country }}
        </div>
    </div>
    <button type="submit" value="Submit" class="btn btn-primary float-right"> Save Changes</button>
</form>
{% endblock content %}


{% block javascript %}
  <script>
    $('#edit_profile').submit(function(event) {
        event.preventDefault();
        user_id = {{ user_id }};
        profile_edit_api_url = '/profiles/' + user_id + '/';
        var form_data = new FormData();
        form_data.append('pk', '{{ user_id }}');
        form_data.append('user', '{{ user_id }}');
        form_data.append('csrfmiddlewaretoken', '{{ csrf_token }}');
        form_data.append('bio', $('#id_bio').val());
        form_data.append('gender', $('#id_gender').val());
        form_data.append('date_of_birth', $('#id_date_of_birth').val());
        form_data.append('mobile_number', $('#id_mobile_number').val());
        form_data.append('address', $('#id_address').val());
        form_data.append('city', $('#id_city').val());
        form_data.append('country', $('#id_country').val());
        form_data.append('photo', $('#id_profile_photo')[0].files[0]);

        $.ajax({
            type: 'PUT',
            data: form_data,
            url: profile_edit_api_url,
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
            },
            dataType: 'json',
            contentType: false,
            processData: false,
            success: function (data) {
            },
            error : function (exception) {
                alert('There was an error updating the profile:  ' + exception);
            },
        });
    });
  </script>
{% endblock javascript %}
